@{
    ViewBag.Title = "Dashboard";
    ViewBag.page = "Home";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<h2><center>!!!!....Home Page....!!!!</center></h2>




@Html.ActionLink("Logout","Logout","Login")
<br />


