


.strength_meter {
    position: relative;
    left: 0px;
    top: -28px;
    width: 250px;
    height: 20px;
    z-index: -1;
    border-radius: 5px;
    padding-right: 13px;
    
}

#txtNewPwd:hover {
opacity:1;
}
.button_strength {
    text-decoration: none;
    color: #FF853C;
    font-size: 1.2em;
    top: -28px;
    width: 100%;
    position: relative;
    float: left;
    right: -15em;
}

.strength_meter div {
    width: 0%;
    height: 28px;
    text-align: right;
    color: #000;
    line-height: 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-right: 12px;
    border-radius: 5px;
}

    .strength_meter div p {
        position: absolute;
        z-index:10;
        top: 40px;
        right: 0px;
        color: #FF853C;
        font-size: 13px;
    }

.veryweak {
    background-color: #FFA0A0;
    border-color: #F04040!important;
    width: 25%!important;
}

.weak {
    background-color: #FFB78C;
    border-color: #FF853C!important;
    width: 50%!important;
}

.medium {
    background-color: #FFEC8B;
    border-color: #FC0!important;
    width: 75%!important;
}

.strong {
    background-color: #C3FF88;
    border-color: #8DFF1C!important;
    width: 100%!important;
}

