@model LionPOSServiceContractModels.ControllerContractModel.AccountManagement.TaxmasterCCM

<div class="row">
    <div class="col-md-12" id="filter@(Model.Pagination.FilterActionName)Container">
        @Html.Partial("~/Views/AccountManagement/Taxmaster/_ListPaneDetail.cshtml", Model)
    </div>
</div>


<!--Loder Design -->
<div class="row" id="filter@(Model.Pagination.FilterActionName)LoaderContainer" style="display:none">

    <div class="col-md-12" id="filter@(Model.Pagination.FilterActionName)Loader">
        <div class="card card-user card-user-purple">

            <div class="card-heading heading-left" style="border-top:none">
                <img src="~/Images/store.png" alt="" class="user-image">
                <h3 class="card-title text-color-white"><a href="#">Loading.....</a></h3>
                <div class="subhead">Please wait we are fetching data...</div>
            </div>

            <div class="card-body" style="padding:20px;height: 189px" id="InfiniteLoadingContainerID">
                <div id='loader'></div>
            </div>

            <div class="card-footer" style="padding: 15px;border-top: 1px solid #f0f0f0;    height: 60px;">

            </div>

        </div>
    </div>

</div>
