@model LionPOS.Models.ViewModels.Login.Login.LoginViewModel

<!DOCTYPE html style="width:100%;height:100%">
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="~/Images/LionVision/faviconlion.ico">
    <link rel="apple-touch-icon" href="~/Content/assets/globals/img/icons/apple-touch-icon.png">
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ContentPOS/posLogin.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
</head>
<!-- Set Background image here -->
<body>


    <section class="row navbar-fixed-top Header-bar ">
        <nav class="navbar navbar-inverse ">
            <div class="container-fluid text-center">
                <div class="">
                    <a class="" href="#">
                        <img src="~/Images/LionVision/LogoLionLVITSColoured100x.png" class="lvits-logo" />
                    </a>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse text-left" id="bs-example-navbar-collapse-1">


                    @*   <ul class="nav navbar-nav">
                        <li><a class="active" href="/about">clock in</a></li>
                        <li><a href="//support.lionvisionits.com">clock out</a></li>
                        <li><a href="https://about.lionvisionits.com/careers">Sync</a></li>
                        <li><a href="/tos">Terms</a></li>
                        <li><a href="/privacy">Privacy</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Links<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://about.lionvisionits.com/products">Apps</a></li>
                                <li><a href="https://blog.lionvisionits.com">Blog</a></li>
                                <li><a href="//ads.lionvisionits.com/start?ref=gl-tw-tw-lionvisionits-advertise">Advertise</a></li>
                                <li><a href="https://business.lionvisionits.com">Businesses</a></li>
                                <li><a href="//media.lionvisionits.com">Media</a></li>
                                <li><a href="//dev.lionvisionits.com">Developers</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="http://status.lionvisionits.com">Status</a></li>
                                <li><a href="/i/directory/profiles">Directory</a></li>
                                <li><a href="//support.lionvisionits.com/articles/20170514">Cookies</a></li>
                                <li><a href="//support.lionvisionits.com/articles/20170451">Ads info</a></li>
                                <li><a href="//about.lionvisionits.com/press/brand-assets">Brand</a></li>

                            </ul>
                        </li>
                        </ul>
                    *@
                    <ul class="nav navbar-nav navbar-right">
                        @*<li><a class="active" href="/about">clock in</a></li>
                        <li><a href="//support.lionvisionits.com">clock out</a></li>
                        <li><a href="https://about.lionvisionits.com/careers">Sync</a></li>*@
                        @*<li><a href="/i/directory/profiles">© 2016 Lion Vision Info Tech Solutions(LVITS)</a></li>*@
                    </ul>

                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->

        </nav>
    </section>


    <div class="container-fluid" style="margin-top: 80px">
        <div class="row">
            <section class="col-xs-12 col-md-4">
                <div class="row ">
                    <div class="alert-block" id="alert-block">
                        @if (Model.AlertList_string != null)
            {
                foreach (string alert in Model.AlertList_string)
                {
                                @Html.Raw(alert)

                            }
                        }
                    </div>

                </div>
            </section>
            <section class="col-xs-12 col-md-4">
                <div class="row text-center ">

                    <div style="width:320px;display: inline-block;margin: 0 auto;" class="text-center">
                        <div style="display: inline-block;" class="text-left">
                            <div class="pin-container text-center">
                                <div class="pin"></div>
                            </div>
                            <div class="pin-bridge-rope-top"></div>
                            <div class="pin-bridge"></div>
                            <div class="pin-bridge-rope-bottom"></div>
                            <div class="pin-container text-center">
                                <div class="pin"></div>
                            </div>
                            <div class="pin-bridge-rope-top"></div>
                            <div class="pin-bridge"></div>
                            <div class="pin-bridge-rope-bottom"></div>
                            <div class="pin-container text-center">
                                <div class="pin"></div>
                            </div>
                            <div class="pin-bridge-rope-top"></div>
                            <div class="pin-bridge"></div>
                            <div class="pin-bridge-rope-bottom"></div>
                            <div class="pin-container text-center">
                                <div class="pin"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center ">
                    <div style="width:320px;display: inline-block;margin: 0 auto;" class="text-center">
                        <div class="col-xs-4 ">
                            <div class="numpad ">
                                <button class="btn-numpad">
                                   7
                                </button>
                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                    4
                                </button>
                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                    1
                                </button>
                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                    C
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-4 ">
                            <div class="numpad">
                                <button class="btn-numpad">
                                    8
                                </button>
                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                    5
                                </button>
                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                    2
                                </button>
                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                    0
                                </button>
                            </div>
                        </div><div class="col-xs-4 ">
                            <div class="numpad">
                                <button class="btn-numpad">
                                    9
                                </button>

                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                    6
                                </button>
                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                    3
                                </button>
                            </div>
                            <div class="numpad">
                                <button class="btn-numpad">
                                 <i class="fa fa-sign-in"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-xs-12 col-md-4">
                <div class="row">

                </div>
            </section>
        </div>


    </div>


    <!-- used to show direct login window or to show previous account listing
    true= to show login window
    false= to show previous account
        used on failed login attempt or failed captcha to enter direct password and username
        it is used in LionPOS\Scripts\ScriptCustom\Login\Login\LoginScripts.js
    -->
    <script>
        var directloginWindowExecute = @((Model.showLoginWindowDirect)?"true":"false");

    </script>
    <script src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ScriptCustom/Login/Login/LoginScripts.js"></script>

    <!-- Loads captcha view if captcha is activate after n attempt -->
    @if (Model.CaptchaActivated_Null_bool == true)
    {
        @Html.Partial("~/Views/Login/Login/_LoginCustomScript.cshtml", Model.CaptchaActivated_Null_bool)
    }
    <script>
        $("#needHelp").click(function(e){
            debugger
            window.location = $("#needHelp").data("href").replace("%3Cchange%3E",$("#branchCode option:selected").val());
        });
    </script>

</body>
</html>
