<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="accountinglvitsposdbEntities" connectionString="metadata=res://*/DomainModels.Account.accountLvitsPosdbEntities.csdl|res://*/DomainModels.Account.accountLvitsPosdbEntities.ssdl|res://*/DomainModels.Account.accountLvitsPosdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=accountinglvitsposdb&quot;" providerName="System.Data.EntityClient" />
    <add name="branchlvitsposdbEntities" connectionString="metadata=res://*/DomainModels.Branch.branchLvitsPosdbEntities.csdl|res://*/DomainModels.Branch.branchLvitsPosdbEntities.ssdl|res://*/DomainModels.Branch.branchLvitsPosdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=branchlvitsposdb&quot;" providerName="System.Data.EntityClient" />
    <add name="configurationlvitsposdbEntities" connectionString="metadata=res://*/DomainModels.Configuration.configurationlvitsposdbEntities.csdl|res://*/DomainModels.Configuration.configurationlvitsposdbEntities.ssdl|res://*/DomainModels.Configuration.configurationlvitsposdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=configurationlvitsposdb&quot;" providerName="System.Data.EntityClient" />
    <add name="employeelvitsposdbEntities" connectionString="metadata=res://*/DomainModels.Employee.employeelvitsposdbEntities.csdl|res://*/DomainModels.Employee.employeelvitsposdbEntities.ssdl|res://*/DomainModels.Employee.employeelvitsposdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=employeelvitsposdb&quot;" providerName="System.Data.EntityClient" />
    <add name="maintenancelvitsposdbEntities" connectionString="metadata=res://*/DomainModels.Maintenance.maintenancelvitsposdbEntities.csdl|res://*/DomainModels.Maintenance.maintenancelvitsposdbEntities.ssdl|res://*/DomainModels.Maintenance.maintenancelvitsposdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=maintenancelvitsposdb&quot;" providerName="System.Data.EntityClient" />
    <add name="productlvitsposdbEntities" connectionString="metadata=res://*/DomainModels.Product.productlvitsposdbEntities.csdl|res://*/DomainModels.Product.productlvitsposdbEntities.ssdl|res://*/DomainModels.Product.productlvitsposdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=productlvitsposdb&quot;" providerName="System.Data.EntityClient" />
    <add name="supplierlvitsposdbEntities" connectionString="metadata=res://*/DomainModels.Supplier.supplierlvitsposdbEntities.csdl|res://*/DomainModels.Supplier.supplierlvitsposdbEntities.ssdl|res://*/DomainModels.Supplier.supplierlvitsposdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=supplierlvitsposdb&quot;" providerName="System.Data.EntityClient" />
    <add name="userlvitsposdbEntities" connectionString="metadata=res://*/DomainModels.User.userlvitsposdbEntities.csdl|res://*/DomainModels.User.userlvitsposdbEntities.ssdl|res://*/DomainModels.User.userlvitsposdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=userlvitsposdb&quot;" providerName="System.Data.EntityClient" />
    <add name="warehouselvitsposdbEntities" connectionString="metadata=res://*/DomainModels.warehouse.warehouseLvitsPosdbEntities.csdl|res://*/DomainModels.warehouse.warehouseLvitsPosdbEntities.ssdl|res://*/DomainModels.warehouse.warehouseLvitsPosdbEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=jayjay;persistsecurityinfo=True;database=warehouselvitsposdb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>