/*@font-face {
    font-family: 'fontawesome-webfont';
    src: url('assets/admin1/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('assets/admin1/fonts/fontawesome-webfont.svg') format('svg'), url('assets/admin1/fonts/fontawesome-webfont.ttf') format('truetype'), url('assets/admin1/fonts/fontawesome-webfont.woff') format('woff'), url('assets/admin1/fonts/fontawesome-webfont2.woff') format('woff');
}*/
html, body {
    overflow-x: hidden;
    overflow-y: no-display;
}

body {
    background: white;
    font-family: Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-size: 1.54em;
    font-weight: normal;
    line-height: 24px;
    /* margin: 0 0 .46em; */
}
h1:first-child {
    margin: 0 0 .92em;
}
.content-container {
    margin:10px;
}





.container-fluid
{
     box-shadow: 0 0 3px #aaa;
}

.header-bar {
       
    /*-webkit-filter: drop-shadow(0px 0px 1px #222);
    filter: drop-shadow(0px 0px 1px #222);*/
    /*background: #ffffff; 
background: -moz-linear-gradient(top,  #ffffff 0%, #bcbcbc 100%); 
background: -webkit-linear-gradient(top,  #ffffff 0%,#bcbcbc 100%); 
background: linear-gradient(to bottom,  #ffffff 0%,#bcbcbc 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbcbc',GradientType=0 );*/
    /*border-bottom: 1px solid #666;
    border-color: #ededed;*/
    height: 69px;
}

.navbar {
    margin-bottom: 0px;
}

.nav {
    padding-left: 30px;
    padding-right: 10px;
}

.lvits-logo {
    width: 60px;
    height: 69px;
    padding: 2px;
    background: #ffffff;
    border-bottom: 1px solid #666;
    border-color: #ededed;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    border-radius: 5%;
    margin: 5px;
    margin-top: -42px;
    top: -42px;
    /*border: 1px solid #e5e5e5;*/
    /*-webkit-filter: drop-shadow(0px 0px 1px #222);
    filter: drop-shadow(0px 0px 1px #222);*/
}

.navbar-toggle {
    margin-right: 44px;
}


.container-fluid .no-left-right-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid > .row {
    padding-right: 0px;
    padding-left: 0px;
}
/********************************************************************************/
/*Footer Section */
a {
    color: #1b95e0;
    text-decoration: none;
}

a {
    background: transparent;
}

/*Button Style*/
.button-login {
    float: right;
    outline: 0;
    cursor: pointer;
    position: relative;
    color: #CDCDCD;
    background: 0;
    max-width: 225px;
    border: 2px solid #CDCDCD;
    padding: 5px 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 114px;
    height: 40px;
    margin: 15px;
}

    .button-login:hover {
        border-color: #FF7F26;
        color: #FF7F26;
    }

 .button-login:active span {
        color: #FFFFFF;
    }

    .button-login:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        background: #FF7F26;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: -15px 0 0 -15px;
        opacity: 0;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        z-index: -10;
    }

    .button-login:active:before {
        opacity: 1;
        -webkit-transform: scale(5);
        transform: scale(5);
    }

    .button-login:after {
        display: none;
        content: '';
        background: transparent url('../../fonts/fuji-spinner-1.0.1.svg') no-repeat 0 0;
        background-size: 100%;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -5%;
        right: -4%;
    }

.button-login-after {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background: #FF7F26;
    display: block;
}

.button-login-after-span-processing {
    display: block;
}



.btn-standard {
    
    outline: 0;
    cursor: pointer;
    position: relative;
    color: #CDCDCD;
    background: 0;
    max-width: 225px;
    border: 2px solid #CDCDCD;
    padding: 5px 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 114px;
    height: 40px;
    margin: 15px;
}

    .btn-standard:hover {
        border-color: #FF7F26;
        color: #FF7F26;
    }

 .btn-standard:active span {
        color: #FFFFFF;
    }

    .btn-standard:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        background: #FF7F26;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: -15px 0 0 -15px;
        opacity: 0;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        z-index: -10;
    }

    .btn-standard:active:before {
        opacity: 1;
        -webkit-transform: scale(5);
        transform: scale(5);
    }

    .btn-standard:after {
        display: none;
        content: '';
        background: transparent url('../../fonts/fuji-spinner-1.0.1.svg') no-repeat 0 0;
        background-size: 100%;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -5%;
        right: -4%;
    }

.btn-standard-after {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background: #FF7F26;
    display: block;
}

.btn-standard-after-span-processing {
    display: block;
}



/*Button Style Ednded*/
.logo-lionvision {
    float: left;
    margin: 15px;
    cursor: pointer;
}



.footer-bar {
    background: #ffffff;
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbcbc',GradientType=0 );
    border-bottom: 1px solid #666;
    border-color: #ededed;
    -webkit-filter: drop-shadow(0px 0px 1px #222);
    filter: drop-shadow(0px 0px 1px #222);
    /*background-color: #f1f1f1;*/
    border-bottom: 1px solid #666;
    border-color: #e5e5e5;
    min-height: 42px;
    /*padding:11px 0;*/
}

/*End of Footer Section */


/*Alert*/

.alert {
    padding: 8px 35px 8px 14px;
    width: inherit;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 200px;
    position: fixed;
    z-index: 99;
    height: auto;
    right: 10px;
}

    .alert-block > p,
    .alert-block > ul {
        margin-bottom: 0;
    }

    .alert-block p + p {
        margin-top: 5px;
    }
/*End of Alert*/
.head-pic{
    margin-top:50px;
}
.hideable-wrapper {
    display:none;
}
.extra-padding
{
       padding-left: 200px;
    padding-right: 200px;

}
.question-content{
    margin: auto;max-width: 320px;width:100%;
}

.secondary,.stacked-label{
        padding-left: 15px;
}
.recovery .hideable-box div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.secondary {
    font-size: 11px;
    color: #666;
    line-height: 18px;
}
input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea {
    display: inline-block;
    height: 29px;
    width: 17em;
    margin: 0;
    padding-left: 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}




.user-icon {
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    border-radius: 50%;
    margin: 5px;
    border: 1px solid #e5e5e5;
}
.square-form {
    margin-top:35px;
    background:#FBFBFB;
    max-width:320px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;

}
.recovery-stacked-label{
        padding-left: 15px;
}