
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="background-color:lightgray;height:550px;width:850px;position:fixed;top:10%;left:15%;">
        <img src="http://www.lionvisionits.com/images/Logo.png" style="height:50px ;width:155px;margin-left:70px;"  />
        <span style="font-family:'Times New Roman';font-size:x-large;float:right;margin-right:306px;margin-top:10px">Lion Vision InfoTech Solutins.</span>

        <div style="background-color:white;height:450px;width:700px;margin-left:65px;">
            <div style="background-color:black;width:700px;height:20px"></div>
            <div>
                <p style="margin-left:20px;font-family:'Times New Roman';font-size:larger;word-wrap:break-word;margin-right:10px">
 
                    You Requested for OTP to change your password. Your OTP is below
                     <br />
                      <br />
                    <input type="hidden"  value="Please Dont Change Followign OTP no because it is used in ForgotPassword Action of HomeController "/>
                    Your  OTP is : 123
                    <br /><br />
                    The OTP will expire very soon , so be sure to use it right away.
                    <br /><br />
                    Thanks for using Lion Vision !
                    <br />
                    The Lion Vision Team
                </p>
            </div>
        </div>
    </div>
    </form>
</body>
</html>

